@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
}

.box1{
    width: 100px;
    height: 300px;
    background-color: crimson;
    float: left;
}

.box2{
    width: calc(100% - 200px);
    height: 300px;
    background-color: goldenrod;
    float: left;
}
.box3{
    width: 100px;
    height: 300px;
    background-color: darkslategray;
    float: left;
}